<h1>Welcome</h1>

<p>Thank you for registering with us</p>

<h3> Complete your registration </h3>

<p>In order to complete your registration, please follow us to <a href="<%= newRegistrationUrl %>">this link</a>.</p>
<p>
   If the link above does not work, please copy the following address and paste it into your browser's address bar to continue: <a href="<%= newRegistrationUrl %>"><%= newRegistrationUrl %></a>.
</p>
<p>
   If you did not request the registration, don't worry - the request will expire soon and we will not keep your email address in our database!
</p>

<p>The Team</p>

<p>We would love to hear your suggestions for making ___ even more valuable. Please click the feedback button, located on the bottom right corner of the website, to share your thoughts with our team.</p>

<p>And, of course, please feel free to contact us with any questions you may have by replying to this email.</p>
<p>Thanks, </p>
<a href="<%= homeUrl %>"><%= homeUrl %></a>
