<h1>Welcome to <%= locals.appName %></h1>

<p>You’ve Registered to join the beta test of <%= locals.appName %>, the world's newest
     and coolest dining application, that helps you find and remember and discover
     your favorite menu items, wherever you dine, and lots more.</p>

<p>
  You may continue to login with your Facebook account or use this email address and the password we've generated for
  you (<strong><%= tempPassword %></strong>) to login.  Feel free to change the password at your convenience.
</p>

<p>The <%= locals.appName %> Team</p>

<p>And, of course, please feel free to contact me with any questions you may have by replying to this email. </p>
<p>Thanks, </p>
<a href="<%= homeUrl %>"><%= homeUrl %></a>
